<a href="https://colab.research.google.com/github/crlnpcancino/DBDC_202206_Programacion_en_R_para_ciencia_de_datos/blob/main/Control1_Carolina_Pe%C3%B1a_Javier_Godoy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Control 1: Sintaxis básica y manipulación de objetos simples en R

Nombre 1: _Puede incluir su nombre acá haciendo doble click_                                                                                                                                      <br> 
Nombre 2: _Puede incluir su nombre acá haciendo doble click_   

# Instrucciones

El siguiente test podrá desarrollarlo de manera individual o en pareja con otro(a) de sus compañeros(as).<br>

Lea atentamente cada una de las preguntas propuestas y sea claro en los comentarios (si es que los incluye) de los desarrollos de sus respuestas. Para el desarrollo de las mismas, dispone de celdas de código después de cada pregunta. Sin embargo podrá agregar más celdas si así lo estima conveniente.<br>
Las preguntas formuladas en este test pueden ser abordadas con las herramientas trabajadas en clases, sin embaro, usted podrá hacer uso de las funcionalidades y/o packages que estime convenientes, a menos que se indique explícitamente lo contrario.

## Tiempo y entrega
Dispondrán hasta el día lunes **15 de julio** hasta las 23:59 hrs para hacer envío de sus respuestas.
Una vez finalizado el desarrollo del test, deberá entregarlo teniendo en cuenta las siguientes consideraciones :

 * Descargue el notebook en **formato `*.ipynb`** (uno por pareja), e indique en el nombre del archivo los nombres de los integrantes, `Control1_nombres_integrantes.ipynb`. 
 
 * En caso de trabajar en Rstudio, deberá enviar el script de extensión `*.R` con el siguiente nombre: `Control1_nombres_integrantes.R` , **procurando indicar con comentarios claros, qué pregunta está respondiendo en cada caso**.
 * Envíe el archivo al correo rumorale1@gmail.com, con copia a majorquev@gmail.com con el asunto "DBDC-R-C1: 'nombre y apellido de los integrantes' "
 
**NOTA**: 
   * Los correos cuyo asunto no comiencen con "DBDC-R-C1" no llegarán a destino y por ende no serán calificados.
   * Los archivos que no contengan nombre serán calificados con la nota mínima 1.0.
   * Los correos enviados posterior a la fecha y hora de entrega indicados tendrán una penalización de 1 punto por día (o fracción) de retraso en la entrega, por ejemplo, si usted envía sus respuestas a las 00:05 hrs del domingo 16 de julio, su nota máxima será un 6.0.

# Sección 1

La siguiente línea de código permite cargar en memoria, un objeto de extensión *.rds que está almacenado en el disco de la máquina en la ruta actual de trabajo.

Este archivo contiene la información de los contagios por COVID-19 en nuestsro país, según las cifras oficiales entregadas por el ministerio de salud para lo que del año 2022 hasta el 22 de abril. En el archivo encontrará, para cada mes, el total de casos diarios desglosados según:
   * 'casos_nuevos_con_sintomas': casos nuevos con síntomas del día.
   * 'casos_totales' : casos acumulados a la fecha.
   * 'casos_recuperados': casos recuperados acumulados a la fecha.
   * 'fallecidos': casos fallecidos acumulados.
   * 'casos_activos': casos activos a la fecha.
   * 'casos_nuevos_sin_sintomas': casos asintomáticos del día.
   * 'casos_nuevos_totales': suma de  casos asintomáticos más casos con síntomas del día, más casos nuevos sin notificar.
 
 Si bien no será utilizados en este trabajo, también econtrán nuevos registros de acuerdo a los últimos cambios en la metodología de conteo. Para más info pueden referirse al siguiente link:
 https://github.com/MinCiencia/Datos-COVID19/tree/master/output/producto5
 
   * 'casos_activos_por_fd'
   * 'casos_activos_por_fis'
   * 'casos_recuperados_por_fis'
   * 'casos_recuperados_por_fd' 
   * 'casos_confirmados_recuperados'
   * 'casos_activos_confirmados'
   * 'casos_probables_acumulados'
   * 'casos_activos_probables'

In [ ]:
# Carga de casos
casos <- readRDS("covid.rds") # Recuerde que el archivo de estar en su directorio de trabajo

In [102]:
getwd()
setwd("/content/sample_data")
getwd()

[1] "/content/sample_data"

[1] "/content/sample_data"

## Pregunta 1.1

**1a) (1pt)** ¿Qué clase de objetos es `casos`? <br>
**1b) (1pt)** ¿Cuántos elementos posee este objeto?<br>
**1c) (1pt)** ¿Cuáles son los nombres de este objeto?<br>
**1d) (2pt)** ¿Qué clase de objeto está almacenado en sl _slot_ correspondiente al mes de marzo ("mar") y cuántos elementos posee?<br>
**1e) (2pt)** Para el mes de marzo, ¿a qué clase de objeto corresponde `casos_totales` y cuántos elementos posee?

In [103]:
# P1.1
## Respuestas

casos <- readRDS("D:/dev/DBDC_202206_Programacion_en_R_para_ciencia_de_datos/Evaluaciones/C1/covid_2022.rds")
# 1a) ¿Qué clase de objetos es casos?
class(casos)

Warning message in gzfile(file, "rb"):
“cannot open compressed file 'D:/dev/DBDC_202206_Programacion_en_R_para_ciencia_de_datos/Evaluaciones/C1/covid_2022.rds', probable reason 'No such file or directory'”

ERROR: ignored

In [ ]:
# 1b) ¿Cuántos elementos posee este objeto?
str(casos)

List of 4
 $ ene:List of 21
  ..$ casos_activos                                   :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 9489 10169 9995 9843 10677 ...
  ..$ casos_activos_confirmados                       :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 9489 10169 9995 9843 10677 ...
  ..$ casos_activos_por_fd                            :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 17874 18526 18395 18562 19438 ...
  ..$ casos_activos_por_fis                           :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 9489 10169 9995 9843 10677 ...
  ..$ casos_activos_probables                         :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 25 24 25 23 23 28 33 28 33 42 ...
  ..$ casos_con_sospecha_de_reinfeccion               :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 2257 2263 2275 2280 2295 ...
  ..$ casos_confirmados_por_antigeno                  :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 96684 96869 96995 97235 97696 ...
  ..$ casos_confirmados_recuperados                   :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 1754104 1755273 1756412 1757601 1758607 ...
  ..$ casos_nuevos_con_sintomas                       :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 1059 808 455 593 998 ...
  ..$ casos_nuevos_confirmados_por_antigeno           :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 341 198 135 248 478 641 680 735 665 646 ...
  ..$ casos_nuevos_sin_notificar                      :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 498 604 319 317 581 ...
  ..$ casos_nuevos_sin_sintomas                       :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 373 509 231 148 279 678 893 772 781 763 ...
  ..$ casos_nuevos_totales                            :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 1930 1921 1005 1058 1858 ...
  ..$ casos_probables_acumulados                      :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 353221 353197 353178 353169 353132 ...
  ..$ casos_recuperados                               :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
  ..$ casos_recuperados_por_fd                        :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 1751384 1752614 1753729 1754612 1755573 ...
  ..$ casos_recuperados_por_fis                       :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 1759769 1760971 1762129 1763331 1764334 ...
  ..$ casos_totales                                   :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 1808398 1810302 1811297 1812348 1814188 ...
  ..$ fallecidos                                      :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 39140 39162 39173 39174 39177 ...
  ..$ fallecidos_confirmados_totales                  :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
  ..$ fallecidos_sospechosos_probables_u_otros_totales:'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
 $ feb:List of 21
  ..$ casos_activos                                   :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] 113734 112804 118427 125857 131295 ...
  ..$ casos_activos_confirmados                       :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] 113734 112804 118427 125857 131295 ...
  ..$ casos_activos_por_fd                            :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] 297446 318619 341483 362508 385359 ...
  ..$ casos_activos_por_fis                           :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] 113734 112804 118427 125857 131295 ...
  ..$ casos_activos_probables                         :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] 64 64 67 49 50 58 54 51 47 32 ...
  ..$ casos_con_sospecha_de_reinfeccion               :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] 6675 6944 7278 7614 7965 ...
  ..$ casos_confirmados_por_antigeno                  :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] 180644 190765 201328 212462 223162 ...
  ..$ casos_confirmados_recuperados                   :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] 2030468 2062092 2093059 2124250 2157039 ...
  ..$ casos_nuevos_con_sintomas                       :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] 13374 19192 19439 21103 20700 ...
  ..$ casos_nuevos_confirmados_por_antigeno           :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] 5927 10165 10610 11176 10744 ...
  ..$ casos_nuevos_sin_notificar                      :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] 6532 7843 11272 11663 10744 ...
  ..$ casos_nuevos_sin_sintomas                       :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] 2286 2809 4486 4702 4853 ...
  ..$ casos_nuevos_totales                            :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] 22192 29844 35197 37468 36297 ...
  ..$ casos_probables_acumulados                      :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] 354240 354244 354265 354251 354254 ...
  ..$ casos_recuperados                               :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] NA NA NA NA NA NA NA NA NA NA ...
  ..$ casos_recuperados_por_fd                        :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] 1853382 1862915 1876698 1894337 1909745 ...
  ..$ casos_recuperados_por_fis                       :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] 2037094 2068730 2099754 2130988 2163809 ...
  ..$ casos_totales                                   :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] 2190561 2221276 2258005 2296712 2335034 ...
  ..$ fallecidos                                      :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] 39733 39742 39824 39867 39930 ...
  ..$ fallecidos_confirmados_totales                  :'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] NA NA NA NA NA NA NA NA NA NA ...
  ..$ fallecidos_sospechosos_probables_u_otros_totales:'data.frame':	28 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:28] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:28] NA NA NA NA NA NA NA NA NA NA ...
 $ mar:List of 21
  ..$ casos_activos                                   :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 98421 91717 91035 90479 88933 ...
  ..$ casos_activos_confirmados                       :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 98421 91717 91035 90479 88933 ...
  ..$ casos_activos_por_fd                            :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 398599 388256 375250 363976 349089 ...
  ..$ casos_activos_por_fis                           :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 98421 91717 91035 90479 88933 ...
  ..$ casos_activos_probables                         :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 30 33 27 32 26 24 23 23 22 21 ...
  ..$ casos_con_sospecha_de_reinfeccion               :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 14307 14793 15008 15231 15463 ...
  ..$ casos_confirmados_por_antigeno                  :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 428341 437844 445594 453136 460150 ...
  ..$ casos_confirmados_recuperados                   :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 2927793 2956270 2981315 3006337 3028599 ...
  ..$ casos_nuevos_con_sintomas                       :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 9239 13074 13531 13195 11882 ...
  ..$ casos_nuevos_confirmados_por_antigeno           :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 4583 9508 7754 7553 7018 ...
  ..$ casos_nuevos_sin_notificar                      :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 3517 4908 6258 6692 5774 ...
  ..$ casos_nuevos_sin_sintomas                       :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 1172 2418 3606 3245 2847 ...
  ..$ casos_nuevos_totales                            :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 13928 20400 23395 23132 20503 ...
  ..$ casos_probables_acumulados                      :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 354106 354110 354105 354099 354100 ...
  ..$ casos_recuperados                               :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
  ..$ casos_recuperados_por_fd                        :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 2635311 2667443 2704869 2740649 2776291 ...
  ..$ casos_recuperados_por_fis                       :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 2935489 2963982 2989084 3014146 3036447 ...
  ..$ casos_totales                                   :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 3076291 3098110 3122802 3147434 3168335 ...
  ..$ fallecidos                                      :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] 42381 42411 42683 42809 42955 ...
  ..$ fallecidos_confirmados_totales                  :'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
  ..$ fallecidos_sospechosos_probables_u_otros_totales:'data.frame':	31 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
 $ abr:List of 21
  ..$ casos_activos                                   :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 23823 23031 22802 21830 17451 ...
  ..$ casos_activos_confirmados                       :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 23823 23031 22802 21830 17451 ...
  ..$ casos_activos_por_fd                            :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 108210 100494 93675 88768 85422 ...
  ..$ casos_activos_por_fis                           :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 23823 23031 22802 21830 17451 ...
  ..$ casos_activos_probables                         :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 44 24 18 22 25 20 18 15 13 11 ...
  ..$ casos_con_sospecha_de_reinfeccion               :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 18450 18489 18548 18589 18600 ...
  ..$ casos_confirmados_por_antigeno                  :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 566014 567516 568832 569567 570269 ...
  ..$ casos_confirmados_recuperados                   :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 3398749 3404695 3409277 3413395 3419823 ...
  ..$ casos_nuevos_con_sintomas                       :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 3157 2721 2499 1505 1309 ...
  ..$ casos_nuevos_confirmados_por_antigeno           :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 1723 1512 1313 736 703 ...
  ..$ casos_nuevos_sin_notificar                      :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 1539 1166 960 873 402 ...
  ..$ casos_nuevos_sin_sintomas                       :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 868 936 689 333 221 474 800 597 585 567 ...
  ..$ casos_nuevos_totales                            :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 5564 4823 4148 2711 1932 ...
  ..$ casos_probables_acumulados                      :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 353916 353888 353890 353898 353907 ...
  ..$ casos_recuperados                               :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] NA NA NA NA NA NA NA NA NA NA ...
  ..$ casos_recuperados_por_fd                        :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 3312067 3324992 3336228 3344347 3349731 ...
  ..$ casos_recuperados_por_fis                       :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 3396454 3402455 3407101 3411285 3417702 ...
  ..$ casos_totales                                   :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 3476914 3482175 3486653 3489913 3491962 ...
  ..$ fallecidos                                      :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 56637 56689 56750 56798 56809 ...
  ..$ fallecidos_confirmados_totales                  :'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 45254 45302 45363 45410 45420 ...
  ..$ fallecidos_sospechosos_probables_u_otros_totales:'data.frame':	22 obs. of  2 variables:
  .. ..$ dia_del_mes: num [1:22] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ total      : num [1:22] 11383 11387 11387 11388 11389 ...

In [ ]:
# 1c) ¿Cuáles son los nombres de este objeto?
names(casos)

[1] "ene" "feb" "mar" "abr"

In [ ]:
# 1d) ¿Qué clase de objeto está almacenado en slot correspondiente al mes de marzo ("mar") y cuántos elementos posee?
class(casos$mar)
str(casos$mar)

[1] "list"

List of 21
 $ casos_activos                                   :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] 98421 91717 91035 90479 88933 ...
 $ casos_activos_confirmados                       :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] 98421 91717 91035 90479 88933 ...
 $ casos_activos_por_fd                            :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] 398599 388256 375250 363976 349089 ...
 $ casos_activos_por_fis                           :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] 98421 91717 91035 90479 88933 ...
 $ casos_activos_probables                         :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] 30 33 27 32 26 24 23 23 22 21 ...
 $ casos_con_sospecha_de_reinfeccion               :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] 14307 14793 15008 15231 15463 ...
 $ casos_confirmados_por_antigeno                  :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] 428341 437844 445594 453136 460150 ...
 $ casos_confirmados_recuperados                   :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] 2927793 2956270 2981315 3006337 3028599 ...
 $ casos_nuevos_con_sintomas                       :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] 9239 13074 13531 13195 11882 ...
 $ casos_nuevos_confirmados_por_antigeno           :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] 4583 9508 7754 7553 7018 ...
 $ casos_nuevos_sin_notificar                      :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] 3517 4908 6258 6692 5774 ...
 $ casos_nuevos_sin_sintomas                       :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] 1172 2418 3606 3245 2847 ...
 $ casos_nuevos_totales                            :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] 13928 20400 23395 23132 20503 ...
 $ casos_probables_acumulados                      :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] 354106 354110 354105 354099 354100 ...
 $ casos_recuperados                               :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
 $ casos_recuperados_por_fd                        :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] 2635311 2667443 2704869 2740649 2776291 ...
 $ casos_recuperados_por_fis                       :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] 2935489 2963982 2989084 3014146 3036447 ...
 $ casos_totales                                   :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] 3076291 3098110 3122802 3147434 3168335 ...
 $ fallecidos                                      :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] 42381 42411 42683 42809 42955 ...
 $ fallecidos_confirmados_totales                  :'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...
 $ fallecidos_sospechosos_probables_u_otros_totales:'data.frame':	31 obs. of  2 variables:
  ..$ dia_del_mes: num [1:31] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ total      : num [1:31] NA NA NA NA NA NA NA NA NA NA ...

In [ ]:
# 1e) Para el mes de marzo, ¿a qué clase de objeto corresponde casos_totales y cuántos elementos posee?
class(casos$mar$casos_totales)
str(casos$mar$casos_totales)

[1] "data.frame"

'data.frame':	31 obs. of  2 variables:
 $ dia_del_mes: num  1 2 3 4 5 6 7 8 9 10 ...
 $ total      : num  3076291 3098110 3122802 3147434 3168335 ...

## Pregunta 1.2

**2a) (2pts)** ¿Cuántos casos activos existían al 25 de marzo? (indique claramente la expresión de R para obtener el valor solicitado) .<br>
**2b) (1pts)** Genere cuatro nuevas variables llamadas `totales_enero`,`totales_febrero` , `totales_marzo` y `totales_abril`, que contengan los dataframes correspondientes al slot `casos_totales` del mes respectivo, (por ejemplo, la variable `totales_marzo` debe contener una dataframe de dimensión $31\times2$.<br>
**2c) (2pts)** Para cada dataframe del paso anterior, genere una nueva columna llamada `mes`, que repita el nombre del mes correspondiente por cada fila.<br>
**2d) (3pts)** En cada data.frame, agregue una nueva columna llamada `casos_diarios` que contenga la información correspontiende al total de casos nuevos diarios(`casos_nuevos_totales`).
**NOTA:** Note que el orden de los registros está dado por dia_del_mes por lo que no debe preocuparse de reordnar, sólo agregue el vector tal cual está.

In [ ]:
# P1.2
## Respuestas 
 
 # 2a) ¿Cuántos casos activos existían al 25 de marzo? (indique claramente la expresión de R para obtener el valor solicitado) 
 casos$mar$casos_activos[[2]][25]

[1] 35824

In [ ]:
# 2b) Genere cuatro nuevas variables llamadas totales_enero,totales_febrero , totales_marzo y totales_abril
totales_enero <- data.frame(casos$ene$casos_totales)
totales_febrero <- data.frame(casos$feb$casos_totales)
totales_marzo <- data.frame(casos$mar$casos_totales)
totales_abril <- data.frame(casos$abr$casos_totales)

totales_enero
totales_febrero
totales_marzo
totales_abril

   dia_del_mes total
1   1          1808398
2   2          1810302
3   3          1811297
4   4          1812348
5   5          1814188
6   6          1817300
7   7          1821071
8   8          1825417
9   9          1829437
10 10          1833478
11 11          1837390
12 12          1842218
13 13          1849465
14 14          1857764
15 15          1867101
16 16          1876610
17 17          1885540
18 18          1893115
19 19          1902657
20 20          1916522
21 21          1934204
22 22          1949675
23 23          1965393
24 24          1984190
25 25          2001346
26 26          2020082
27 27          2045874
28 28          2075703
29 29          2107612
30 30          2137743
31 31          2165984

   dia_del_mes total
1   1          2190561
2   2          2221276
3   3          2258005
4   4          2296712
5   5          2335034
6   6          2371833
7   7          2405672
8   8          2431845
9   9          2466098
10 10          2504168
11 11          2545819
12 12          2582934
13 13          2621427
14 14          2652713
15 15          2677692
16 16          2709854
17 17          2747552
18 18          2783458
19 19          2819246
20 20          2851382
21 21          2876455
22 22          2895931
23 23          2921131
24 24          2953895
25 25          2985873
26 26          3015630
27 27          3041400
28 28          3061019

   dia_del_mes total
1   1          3076291
2   2          3098110
3   3          3122802
4   4          3147434
5   5          3168335
6   6          3188448
7   7          3202562
8   8          3214326
9   9          3230793
10 10          3249890
11 11          3269062
12 12          3286476
13 13          3301747
14 14          3313242
15 15          3323324
16 16          3336614
17 17          3353259
18 18          3368704
19 19          3381681
20 20          3392978
21 21          3401145
22 22          3406540
23 23          3415989
24 24          3426147
25 25          3434908
26 26          3443018
27 27          3450094
28 28          3455060
29 29          3458499
30 30          3464425
31 31          3470936

   dia_del_mes total
1   1          3476914
2   2          3482175
3   3          3486653
4   4          3489913
5   5          3491962
6   6          3495889
7   7          3500670
8   8          3504783
9   9          3508556
10 10          3512020
11 11          3514291
12 12          3515878
13 13          3518800
14 14          3522422
15 15          3525845
16 16          3528626
17 17          3530258
18 18          3531529
19 19          3532649
20 20          3535534
21 21          3538843
22 22          3541792

In [ ]:
# 2c) Para cada dataframe del paso anterior, genere una nueva columna llamada mes, que repita el nombre del mes correspondiente por cada fila.
totales_enero [[3]] <- "enero"
names(totales_enero)[3] <- "mes"

totales_febrero [[3]] <- "febrero"
names(totales_febrero)[3] <- "mes"

totales_marzo [[3]] <- "marzo"
names(totales_marzo)[3] <- "mes"

totales_abril [[3]] <- "abril"
names(totales_abril)[3] <- "mes"

totales_enero
totales_febrero
totales_marzo
totales_abril

   dia_del_mes total   mes
1   1          1808398 enero
2   2          1810302 enero
3   3          1811297 enero
4   4          1812348 enero
5   5          1814188 enero
6   6          1817300 enero
7   7          1821071 enero
8   8          1825417 enero
9   9          1829437 enero
10 10          1833478 enero
11 11          1837390 enero
12 12          1842218 enero
13 13          1849465 enero
14 14          1857764 enero
15 15          1867101 enero
16 16          1876610 enero
17 17          1885540 enero
18 18          1893115 enero
19 19          1902657 enero
20 20          1916522 enero
21 21          1934204 enero
22 22          1949675 enero
23 23          1965393 enero
24 24          1984190 enero
25 25          2001346 enero
26 26          2020082 enero
27 27          2045874 enero
28 28          2075703 enero
29 29          2107612 enero
30 30          2137743 enero
31 31          2165984 enero

   dia_del_mes total   mes
1   1          2190561 febrero
2   2          2221276 febrero
3   3          2258005 febrero
4   4          2296712 febrero
5   5          2335034 febrero
6   6          2371833 febrero
7   7          2405672 febrero
8   8          2431845 febrero
9   9          2466098 febrero
10 10          2504168 febrero
11 11          2545819 febrero
12 12          2582934 febrero
13 13          2621427 febrero
14 14          2652713 febrero
15 15          2677692 febrero
16 16          2709854 febrero
17 17          2747552 febrero
18 18          2783458 febrero
19 19          2819246 febrero
20 20          2851382 febrero
21 21          2876455 febrero
22 22          2895931 febrero
23 23          2921131 febrero
24 24          2953895 febrero
25 25          2985873 febrero
26 26          3015630 febrero
27 27          3041400 febrero
28 28          3061019 febrero

   dia_del_mes total   mes
1   1          3076291 marzo
2   2          3098110 marzo
3   3          3122802 marzo
4   4          3147434 marzo
5   5          3168335 marzo
6   6          3188448 marzo
7   7          3202562 marzo
8   8          3214326 marzo
9   9          3230793 marzo
10 10          3249890 marzo
11 11          3269062 marzo
12 12          3286476 marzo
13 13          3301747 marzo
14 14          3313242 marzo
15 15          3323324 marzo
16 16          3336614 marzo
17 17          3353259 marzo
18 18          3368704 marzo
19 19          3381681 marzo
20 20          3392978 marzo
21 21          3401145 marzo
22 22          3406540 marzo
23 23          3415989 marzo
24 24          3426147 marzo
25 25          3434908 marzo
26 26          3443018 marzo
27 27          3450094 marzo
28 28          3455060 marzo
29 29          3458499 marzo
30 30          3464425 marzo
31 31          3470936 marzo

   dia_del_mes total   mes
1   1          3476914 abril
2   2          3482175 abril
3   3          3486653 abril
4   4          3489913 abril
5   5          3491962 abril
6   6          3495889 abril
7   7          3500670 abril
8   8          3504783 abril
9   9          3508556 abril
10 10          3512020 abril
11 11          3514291 abril
12 12          3515878 abril
13 13          3518800 abril
14 14          3522422 abril
15 15          3525845 abril
16 16          3528626 abril
17 17          3530258 abril
18 18          3531529 abril
19 19          3532649 abril
20 20          3535534 abril
21 21          3538843 abril
22 22          3541792 abril

In [ ]:
# 2d) En cada data.frame, agregue una nueva columna llamada casos_diarios que contenga la información correspontiende al total de casos nuevos diarios(casos_nuevos_totales).

#Opción 1
totales_enero [[4]] <- casos$ene$casos_nuevos_totales [[2]]
names(totales_enero)[4] <- "casos_diarios"

totales_febrero [[4]] <- casos$feb$casos_nuevos_totales [[2]]
names(totales_febrero)[4] <- "casos_diarios"

totales_marzo [[4]] <- casos$mar$casos_nuevos_totales [[2]]
names(totales_marzo)[4] <- "casos_diarios"

totales_abril [[4]] <- casos$abr$casos_nuevos_totales [[2]]
names(totales_abril)[4] <- "casos_diarios"

totales_enero
totales_febrero
totales_marzo
totales_abril

#Opción 2

# mutate(totales_enero, casos diarios = casos$ene$casos_nuevos_totales [[2]])
# mutate(totales_febrero, casos diarios = casos$feb$casos_nuevos_totales [[2]])
# mutate(totales_marzo, casos diarios = casos$mar$casos_nuevos_totales [[2]])
# mutate(totales_abril, casos diarios = casos$abr$casos_nuevos_totales [[2]])

   dia_del_mes total   mes   casos_diarios
1   1          1808398 enero  1930
2   2          1810302 enero  1921
3   3          1811297 enero  1005
4   4          1812348 enero  1058
5   5          1814188 enero  1858
6   6          1817300 enero  3134
7   7          1821071 enero  3799
8   8          1825417 enero  4380
9   9          1829437 enero  4064
10 10          1833478 enero  4069
11 11          1837390 enero  3922
12 12          1842218 enero  4847
13 13          1849465 enero  7291
14 14          1857764 enero  8270
15 15          1867101 enero  9284
16 16          1876610 enero  9454
17 17          1885540 enero  8904
18 18          1893115 enero  7533
19 19          1902657 enero  9509
20 20          1916522 enero 12500
21 21          1934204 enero 14757
22 22          1949675 enero 14449
23 23          1965393 enero 13674
24 24          1984190 enero 14780
25 25          2001346 enero 14291
26 26          2020082 enero 18446
27 27          2045874 enero 24037
28 28          2075703 enero 26727
29 29          2107612 enero 29175
30 30          2137743 enero 28480
31 31          2165984 enero 26244

   dia_del_mes total   mes     casos_diarios
1   1          2190561 febrero 22192
2   2          2221276 febrero 29844
3   3          2258005 febrero 35197
4   4          2296712 febrero 37468
5   5          2335034 febrero 36297
6   6          2371833 febrero 34328
7   7          2405672 febrero 31063
8   8          2431845 febrero 24970
9   9          2466098 febrero 33362
10 10          2504168 febrero 36635
11 11          2545819 febrero 38446
12 12          2582934 febrero 35841
13 13          2621427 febrero 35038
14 14          2652713 febrero 28076
15 15          2677692 febrero 22845
16 16          2709854 febrero 30971
17 17          2747552 febrero 35789
18 18          2783458 febrero 34117
19 19          2819246 febrero 33769
20 20          2851382 febrero 30398
21 21          2876455 febrero 23254
22 22          2895931 febrero 18380
23 23          2921131 febrero 24700
24 24          2953895 febrero 30675
25 25          2985873 febrero 29135
26 26          3015630 febrero 27739
27 27          3041400 febrero 23821
28 28          3061019 febrero 18148

   dia_del_mes total   mes   casos_diarios
1   1          3076291 marzo 13928
2   2          3098110 marzo 20400
3   3          3122802 marzo 23395
4   4          3147434 marzo 23132
5   5          3168335 marzo 20503
6   6          3188448 marzo 19353
7   7          3202562 marzo 13820
8   8          3214326 marzo 10815
9   9          3230793 marzo 16341
10 10          3249890 marzo 18995
11 11          3269062 marzo 18326
12 12          3286476 marzo 17371
13 13          3301747 marzo 15136
14 14          3313242 marzo 10650
15 15          3323324 marzo  8716
16 16          3336614 marzo 12566
17 17          3353259 marzo 15735
18 18          3368704 marzo 14525
19 19          3381681 marzo 12357
20 20          3392978 marzo 10472
21 21          3401145 marzo  7555
22 22          3406540 marzo  5045
23 23          3415989 marzo  8025
24 24          3426147 marzo  9414
25 25          3434908 marzo  8247
26 26          3443018 marzo  7448
27 27          3450094 marzo  6480
28 28          3455060 marzo  4463
29 29          3458499 marzo  3017
30 30          3464425 marzo  5603
31 31          3470936 marzo  6074

   dia_del_mes total   mes   casos_diarios
1   1          3476914 abril 5564
2   2          3482175 abril 4823
3   3          3486653 abril 4148
4   4          3489913 abril 2711
5   5          3491962 abril 1932
6   6          3495889 abril 3689
7   7          3500670 abril 4432
8   8          3504783 abril 3820
9   9          3508556 abril 3368
10 10          3512020 abril 3057
11 11          3514291 abril 2209
12 12          3515878 abril 1478
13 13          3518800 abril 2742
14 14          3522422 abril 2937
15 15          3525845 abril 2771
16 16          3528626 abril 2516
17 17          3530258 abril 1424
18 18          3531529 abril 1172
19 19          3532649 abril 1102
20 20          3535534 abril 2515
21 21          3538843 abril 2897
22 22          3541792 abril 2669

## Pregunta 1.3

**3a) (1pts)** Con la ayuda de la función rbind() (también puede usar bind_rows()) , una las filas de las 4 tablas generadas en la pregunta anterior y guarde la tabla resultante en una variable llamada `casos_hist`.<br>
**3b) (1pt)** En promedio, ¿Cuántos casos hay diariamente desde el 01 de enero hasta el 22 de abril del 2022?<br>
**3c) (2pts)** En promedio, ¿Cuántos casos hay diariamente **en cada mes** ?.<br>

In [ ]:
# P1.3
## Respuesta 

 # 3a) Una las filas de las 4 tablas generadas en la pregunta anterior y guarde la tabla resultante en una variable llamada casos_hist.

 casos_hist <- rbind(totales_enero, totales_febrero, totales_marzo, totales_abril)
 casos_hist

    dia_del_mes total   mes   casos_diarios
1    1          1808398 enero  1930
2    2          1810302 enero  1921
3    3          1811297 enero  1005
4    4          1812348 enero  1058
5    5          1814188 enero  1858
6    6          1817300 enero  3134
7    7          1821071 enero  3799
8    8          1825417 enero  4380
9    9          1829437 enero  4064
10  10          1833478 enero  4069
11  11          1837390 enero  3922
12  12          1842218 enero  4847
13  13          1849465 enero  7291
14  14          1857764 enero  8270
15  15          1867101 enero  9284
16  16          1876610 enero  9454
17  17          1885540 enero  8904
18  18          1893115 enero  7533
19  19          1902657 enero  9509
20  20          1916522 enero 12500
21  21          1934204 enero 14757
22  22          1949675 enero 14449
23  23          1965393 enero 13674
24  24          1984190 enero 14780
25  25          2001346 enero 14291
26  26          2020082 enero 18446
27  27          2045874 enero 24037
28  28          2075703 enero 26727
29  29          2107612 enero 29175
30  30          2137743 enero 28480
⋮   ⋮           ⋮       ⋮     ⋮
83  24          3426147 marzo 9414
84  25          3434908 marzo 8247
85  26          3443018 marzo 7448
86  27          3450094 marzo 6480
87  28          3455060 marzo 4463
88  29          3458499 marzo 3017
89  30          3464425 marzo 5603
90  31          3470936 marzo 6074
91   1          3476914 abril 5564
92   2          3482175 abril 4823
93   3          3486653 abril 4148
94   4          3489913 abril 2711
95   5          3491962 abril 1932
96   6          3495889 abril 3689
97   7          3500670 abril 4432
98   8          3504783 abril 3820
99   9          3508556 abril 3368
100 10          3512020 abril 3057
101 11          3514291 abril 2209
102 12          3515878 abril 1478
103 13          3518800 abril 2742
104 14          3522422 abril 2937
105 15          3525845 abril 2771
106 16          3528626 abril 2516
107 17          3530258 abril 1424
108 18          3531529 abril 1172
109 19          3532649 abril 1102
110 20          3535534 abril 2515
111 21          3538843 abril 2897
112 22          3541792 abril 2669

In [ ]:
# 3b) En promedio, ¿Cuántos casos hay diariamente desde el 01 de enero hasta el 22 de abril del 2022?

#Opción 1
mean(casos_hist$casos_diarios) 

#Opción 2
sum(casos_hist$casos_diarios)/nrow(casos_hist)

[1] 14537.26

[1] 14537.26

In [ ]:
# 3c) En promedio, ¿Cuántos casos hay diariamente en cada mes?

list(promedio_enero = mean(totales_enero$casos_diarios),
  promedio_febrero = mean(totales_febrero$casos_diarios),
  promedio_marzo = mean(totales_marzo$casos_diarios),
  promedio_abril = mean(totales_abril$casos_diarios))

$promedio_enero
[1] 10767.48

$promedio_febrero
[1] 30089.21

$promedio_marzo
[1] 12513.13

$promedio_abril
[1] 2908

# Sección 2

La siguiente celda de código permitirá cargar en su sesión de trabajo los siguientes vectores:
* `temp_h`: Contiene el registro de la temperatura para una muestra de 650 hombres escogidos al azar.
* `temp_m`: Contiene el registro de la temperatura para una muestra de 580 mujeres escogidas al azar.


En ambos vectores, **los identificadores (id) de cada persona están contenidos en el atributo `names()`** del vector respectivo.

##  Pregunta 2.1

**P1) (4pts)** A partir de los dos vectores cargados `temp_h` y `temp_m` ustred deberá crear un data.frame llamado **`casos`** con tres columnas y un total de 1230 filas. Las columnas deben ser las siguientes; una con el id del registro, otra con el género y otra con la temperatura registrada. A modo de ejemplo, a continuación se muestra como debería quedar el data.frame:


|id | genero | temperatura|
|---|---|---|
| h_162 | hombre | 36.8 |
| h_140 | hombre | 38.7 |
| h_13  | hombre | 36.1 |
| $\vdots$| $\vdots$ | $\vdots$|
| m_16  | mujer | 39.1 |
| m_502 | mujer | 40.1 |
| m_189 | mujer | 36.8 |

In [ ]:
# P2.1. ---------------------------------------------------------------------
## Respuesta:

temp_h <- readRDS("/content/temp_h.rds")
temp_m <- readRDS("/content/temp_m.rds")

temp_hmb <- data.frame(id = names(temp_h), genero = "hombre", temperatura = temp_h)
temp_mjr <- data.frame(id = names(temp_m), genero = "mujer", temperatura = temp_m)


casos <- rbind(temp_hmb, temp_mjr)
rownames(casos) <- paste0("caso_",1:1230) #No fue solicitado, pero da un plus en el data frame

casos

          id    genero temperatura
caso_1    h_377 hombre 39.32619
caso_2    h_28  hombre 36.52849
caso_3    h_20  hombre 36.97699
caso_4    h_491 hombre 39.26491
caso_5    h_403 hombre 36.19782
caso_6    h_128 hombre 36.47809
caso_7    h_600 hombre 35.85077
caso_8    h_402 hombre 35.77059
caso_9    h_64  hombre 38.39027
caso_10   h_473 hombre 36.94031
caso_11   h_633 hombre 36.29565
caso_12   h_540 hombre 38.18633
caso_13   h_429 hombre 36.05868
caso_14   h_253 hombre 38.06187
caso_15   h_75  hombre 36.95333
caso_16   h_514 hombre 38.52378
caso_17   h_231 hombre 35.74277
caso_18   h_16  hombre 41.06936
caso_19   h_84  hombre 38.62839
caso_20   h_348 hombre 35.82393
caso_21   h_338 hombre 35.65520
caso_22   h_60  hombre 37.79450
caso_23   h_415 hombre 38.00586
caso_24   h_344 hombre 36.71711
caso_25   h_115 hombre 35.70526
caso_26   h_355 hombre 35.64720
caso_27   h_523 hombre 36.39534
caso_28   h_189 hombre 37.45506
caso_29   h_143 hombre 37.64950
caso_30   h_468 hombre 36.89740
⋮         ⋮     ⋮      ⋮
caso_1201 m_529 mujer  38.48144
caso_1202 m_460 mujer  36.17130
caso_1203 m_374 mujer  37.56965
caso_1204 m_166 mujer  36.56824
caso_1205 m_23  mujer  36.22640
caso_1206 m_282 mujer  36.89106
caso_1207 m_191 mujer  36.85213
caso_1208 m_567 mujer  35.66216
caso_1209 m_553 mujer  36.67180
caso_1210 m_376 mujer  36.72666
caso_1211 m_7   mujer  37.83369
caso_1212 m_568 mujer  36.52582
caso_1213 m_194 mujer  36.75482
caso_1214 m_244 mujer  37.88480
caso_1215 m_396 mujer  37.78936
caso_1216 m_278 mujer  37.15172
caso_1217 m_273 mujer  35.61317
caso_1218 m_291 mujer  38.68882
caso_1219 m_438 mujer  36.87731
caso_1220 m_189 mujer  37.18911
caso_1221 m_525 mujer  38.15172
caso_1222 m_145 mujer  36.41734
caso_1223 m_544 mujer  36.15553
caso_1224 m_474 mujer  37.09358
caso_1225 m_55  mujer  35.96110
caso_1226 m_192 mujer  39.17966
caso_1227 m_436 mujer  38.47477
caso_1228 m_415 mujer  36.80741
caso_1229 m_403 mujer  37.40099
caso_1230 m_452 mujer  35.69154

## Pregunta 2.2

Adicionalmente, se cuenta con la información de síntomas presentados por cada presona registrada. Esta información se encuentra disponible en el archivo `sintomas.rds`.

**2a) (1pt)** Cargue el archivo `sintomas.rds` en una variable llamada _sintomas_.<br>
**2b) (1pt)** ¿Cuál es la clase de este objeto?.<br>
**2c) (1pt)** Note que cada fila undica con un 1 si la persona presentó el respectivo síntoma y 0 si no. ¿Qué sintomas presentó la persona ubicada en el registro 450?.<br>
**2d) (2pts)** ¿Qué síntomas y qué temperatura presentó la persona con id "h_537"?. Si es le es de utilidad puede utilizar la función `rownames()`, la cual permite obtener los nombres (id) de las filas de una matriz.<br>

In [ ]:
# P2 .2
## Respuestas:

# 2a) Cargue el archivo sintomas.rds en una variable llamada sintomas.
sintomas <- readRDS("/content/sintomas.rds")

In [ ]:
# 2b) ¿Cuál es la clase de este objeto?
class(sintomas)

[1] "matrix" "array"

In [ ]:
# 2c) ¿Qué sintomas presentó la persona ubicada en el registro 450?

sintomas[450,2:5]

           tiene_tos   tiene_dolor_cabeza tiene_perdida_olfato
                   1                    1                    1
   tiene_dolor_pecho
                   1

In [ ]:
# 2d) ¿Qué síntomas y qué temperatura presentó la persona con id "h_537"?

sintomas["h_537",]

         temperatura            tiene_tos   tiene_dolor_cabeza
             36.6998               0.0000               0.0000
tiene_perdida_olfato    tiene_dolor_pecho
              0.0000               1.0000

## Nota de utilidad

Ya sea trabajando con un vector, matriz, data.frame o lista, es posible omitir la selección de alguna(s) de sus posiciones (filas/columnas o slots). Esto se puede llevar a cabo de diversas maneras, por ejemplo:

In [ ]:
# Primero creamos un vector, una matriz, un data.frame  y una lista 

vec <- c(v1 = 1, v2 = 2, v3 = 3,v4 = 4)
mat <- cbind(c(1,1),c(2,2),c(3,3),c(4,4) ) ; rownames(mat) <- c("f1","f2"); colnames(mat) <- c("c1","c2","c3","c4")
dat <- as.data.frame(mat)
lis <- list(s1 = c(1,1), s2 = c(2,2), s3 = c(3,3) , s4 = c(4,4))

library (dplyr)

### Omisión por posición

In [ ]:
#Si queremos omitir el primer y tercer elmento del vector y la lista
vec[-c(1,3)]
lis[-c(1,3)]

# Misma idea si queremos omitir columnas de una matriz (o data.frame)
mat[,-c(1,3)]
dat[,-c(1,3)]

v2 v4
 2  4

$s2
[1] 2 2

$s4
[1] 4 4

   c2 c4
f1 2  4
f2 2  4

   c2 c4
f1 2  4
f2 2  4

### Omisión por nombres

In [ ]:
# Por ahora tendremos que ubicar las posiciones de los nombres deseados.

pos_vec <- which(names(vec) %in% c("v1","v3"))
pos_lis <- which(names(lis) %in% c("s1","s3"))
pos_mat <- which(colnames(mat) %in% c("c1","c3"))
pos_dat <- which(names(dat) %in% c("c1","c3"))

vec[-pos_vec]
lis[-pos_lis]

# Misma idea si queremos omitir columnas de una matriz (o data.frame)
mat[,-pos_mat]
dat[,-pos_dat]

v2 v4
 2  4

$s2
[1] 2 2

$s4
[1] 4 4

   c2 c4
f1 2  4
f2 2  4

   c2 c4
f1 2  4
f2 2  4

Más adelante veremos otras alternivas, como por ejemplo, utilizando funciones del package `dplyr`.

## Pregunta 2.3

Con la ayuda de las funciones `rowSums()` y `colSums()`, identifique lo siguiente.

  **3a) (3pt)** ¿Cuántos registros presentaron exactamente los 4 síntomas?<br>
  **3b) (1pt)** ¿Cúantas personas presentaron tos? <br>
  **3c) (2pt)** ¿Cuál es el síntoma más frecuente?<br>

In [ ]:
# P3
##Respuestas:

# 3a) ¿Cuántos registros presentaron exactamente los 4 síntomas?

cant_sint <- data.frame(id = names(rowSums(sintomas[ ,2:5])), total_sint = rowSums(sintomas[ ,2:5]))
filter(count(cant_sint, total_sint), total_sint == 4)

  total_sint n
1 4          229

In [ ]:
# 3b) ¿Cúantas personas presentaron tos?

filter(count(sintomas, tiene_tos), tiene_tos == 1)

ERROR: ignored

In [ ]:
# 3c) ¿Cuál es el síntoma más frecuente?

data.frame(colSums (sintomas[ , 2:5]), colnames(sintomas[ , 2:5]))
max(colSums (sintomas[ , 2:5]))

## Pregunta 2.4

**4a) (1pt)** La función `as.data.frame()` permite coercionar un objeto de otra clase a `data.frame`.
cree una variable llamada `sintomas_df` con la información  de sintomas pero como data.frame.<br>
**4b) (1pts)**
Se puede observar que los ids solo están disponibles en los nombres de las filas. Sin embargo esútil tener esta información como una columna más de la tabla. Para ello **cree una nueva columna en la tabla sintomas_df** llamada `id` que contenga los ids de cada registro. 

NOTA: El orden de las filas no ha variado por lo que podemos añadir la columna sin mayores precauciones.<br>
**4c) (2pts)** ¿Cuántas personas **sólo** presentaron tos y dolor de cabeza?<br>
**4d) (1pt)** Se sabe que una persona tiene fiebre cuando su temperatura es mayor o igual a los 37.2°. **Cree una nueva columna en la tabla sintomas_df** llamada `tiene_fiebre` que contenga `TRUE` cuando tiene fiebre y `FALSE` en caso contrario.

In [ ]:
# P4
#Respuestas

# 4a) Cree una variable llamada sintomas_df con la información de sintomas pero como data.frame.

sintomas_df <- as.data.frame(sintomas)
class(sintomas_df)

In [ ]:
# 4b) Para ello cree una nueva columna en la tabla sintomas_df llamada id que contenga los ids de cada registro.

sintomas_df <- mutate(sintomas_df, id = row.names.data.frame(sintomas_df))
sintomas_df

In [ ]:
# 4c) ¿Cuántas personas sólo presentaron tos y dolor de cabeza?

amb_sint <- data.frame(id = names(rowSums(sintomas_df[ ,2:3])), total_sint = rowSums(sintomas_df[ ,2:3]))
filter(count(amb_sint, total_sint), total_sint == 2)

In [ ]:
# 4d) Cree una nueva columna en la tabla sintomas_df llamada tiene_fiebre que contenga TRUE cuando tiene fiebre y FALSE en caso contrario.

temp <- sintomas_df$temperatura >= 37.2
sintomas_df <- mutate(sintomas_df, tiene_fiebre = temp)

sintomas_df